@import "variables";
@import "mixins";
@import "heading";
@import "shared-style";

.card{
  background-image: url("../../../assets/images/registration-background.jpg");
  background-size: cover;
  background-position: center;
  @include border;
  margin: $spacing-m auto;
  width: 50%;



  .card-title{
    color: black;
    text-align: center;
  }

  h3 {
    color: $color-text-default;
    text-align: center;
  }
}

.form-wrapper{
  display: flex;
  flex-direction: column;
  gap: $spacing-3xs;
  width: 70%;
  margin: auto;
}

.form-group{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  color: black;
}

.input{
  @include border($border-radius-s, $color-text-light);
  width: 70%;
}

.button-login{
  align-self: center;
  width: 50%;
}
