<div id="registration-modal" uk-modal class="uk-flex-top">
  <div class="uk-modal-dialog uk-modal-body card">
    <button class="uk-modal-close-default" type="button" uk-close></button>
    <h2 class="card-title">Sign up to start meeting people!</h2>
    <h3 class="body-s">
      Find love, connect, and create your own love story! Don't miss out - sign
      up now and let the journey of romance begin.
    </h3>

    <form
      [formGroup]="registrationForm"
      (ngSubmit)="onSubmit()"
      class="form-wrapper"
    >
      <div class="form-group">
        <label for="username" class="body-s">Username:</label>
        <input
          class="uk-input input"
          [placeholder]="'Username'"
          [ngClass]="{
            'uk-form-danger':
              registrationForm.get('username')?.hasError('required') &&
              registrationForm.get('username')?.touched
          }"
          type="text"
          id="username"
          formControlName="username"
        />
      </div>
      <div
        *ngIf="
          registrationForm.get('username')?.hasError('required') &&
          registrationForm.get('username')?.touched
        "
        class="alert-text"
      >
        Username is required.
      </div>
      <div
        *ngIf="
          registrationForm.get('username')?.hasError('minlength') &&
          registrationForm.get('username')?.touched
        "
        class="alert-text"
      >
        Username must be at least 3 characters long.
      </div>
      <div class="form-group">
        <label for="email" class="body-s">Email:</label>
        <input
          class="uk-input input"
          [placeholder]="'email'"
          [ngClass]="{
            'uk-form-danger':
              registrationForm.get('email')?.hasError('required') &&
              registrationForm.get('email')?.touched
          }"
          type="email"
          id="email"
          formControlName="email"
        />
      </div>
      <div
        *ngIf="
          registrationForm.get('email')?.hasError('required') &&
          registrationForm.get('email')?.touched
        "
        class="alert-text"
      >
        email is required.
      </div>
      <div
        *ngIf="
          registrationForm.get('email')?.hasError('minlength') &&
          registrationForm.get('email')?.touched
        "
        class="alert-text"
      >
        email must be at least 3 characters long.
      </div>
      <div class="form-group">
        <label for="password" class="body-s">Password:</label>
        <input
          class="uk-input input"
          [placeholder]="'Password'"
          [ngClass]="{
            'uk-form-danger':
              registrationForm.get('password')?.hasError('required') &&
              registrationForm.get('password')?.touched
          }"
          type="password"
          id="password"
          formControlName="password"
        />
      </div>
      <div
        *ngIf="
          registrationForm.get('password')?.hasError('required') &&
          registrationForm.get('password')?.touched
        "
        class="alert-text"
      >
        password is required.
      </div>
      <div
        *ngIf="
          registrationForm.get('password')?.hasError('minlength') &&
          registrationForm.get('password')?.touched
        "
        class="alert-text"
      >
        password must be at least 3 characters long.
      </div>
      <div class="form-group">
        <label for="firstName" class="body-s">First name:</label>
        <input
          class="uk-input input"
          [placeholder]="'firstName'"
          [ngClass]="{
            'uk-form-danger':
              registrationForm.get('firstName')?.hasError('required') &&
              registrationForm.get('firstName')?.touched
          }"
          type="text"
          id="firstName"
          formControlName="firstName"
        />
      </div>
      <div
        *ngIf="
          registrationForm.get('firstName')?.hasError('required') &&
          registrationForm.get('firstName')?.touched
        "
        class="alert-text"
      >
        firstName is required.
      </div>
      <div
        *ngIf="
          registrationForm.get('firstName')?.hasError('minlength') &&
          registrationForm.get('firstName')?.touched
        "
        class="alert-text"
      >
        firstName must be at least 3 characters long.
      </div>
      <div class="form-group">
        <label for="lastName" class="body-s">Last name:</label>
        <input
          class="uk-input input"
          [placeholder]="'lastName'"
          [ngClass]="{
            'uk-form-danger':
              registrationForm.get('lastName')?.hasError('required') &&
              registrationForm.get('lastName')?.touched
          }"
          type="text"
          id="lastName"
          formControlName="lastName"
        />
      </div>
      <div
        *ngIf="
          registrationForm.get('lastName')?.hasError('required') &&
          registrationForm.get('lastName')?.touched
        "
        class="alert-text"
      >
        lastName is required.
      </div>
      <div
        *ngIf="
          registrationForm.get('lastName')?.hasError('minlength') &&
          registrationForm.get('lastName')?.touched
        "
        class="alert-text"
      >
        lastName must be at least 3 characters long.
      </div>
      <button
        type="submit"
        class="button-customized button-registration body-s button-login"
      >
        Login
      </button>
    </form>
  </div>
</div>
