.button-customized {
  padding: $spacing-3xs $spacing-s;
}

.button-registration{
  @include border;
  background-color: inherit;
  color: $color-action-primary;
  margin-top: $spacing-xs;

  &:hover{
    background-color: $color-action-primary;
    color: $color-white;
  }
}


.alert-text{
  color: red;
  text-align: center;
}
