// font


@font-face { font-family: "Google Sans";
  src: url("//fonts.gstatic.com/s/googlesans/v14/4UabrENHsxJlGDuGo1OIlLU94YtzCwM.ttf") format("truetype");
}




/* TODO 3. project Variables and Mixins */
@import "heading";
@import "mixins";
@import "variables";



/* 4. MAterialUI style */
@import '~@angular/material/prebuilt-themes/indigo-pink.css';


h1 {
  @include heading-1;
}

h2{
  @include heading-2;
}

h3 {
  @include heading-3;
}

h4 {
  @include heading-4;
}

h5 {
  @include heading-5;
}

.body-l{
  @include typography($font-size-m, $font-weight-light, 130%)
}

.body-m{
  @include typography($font-size-s, $font-weight-light, 125%)

}

.body-s{
  @include typography($font-size-xs, $font-weight-light,125%)
}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
